<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jimo.mycost">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:icon="@android:drawable/ic_lock_idle_alarm"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".func.main.RandomActivity"></activity>
        <activity android:name=".func.main.MainActivity">

            <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".func.main.CostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".func.main.BodyActivity" />
        <activity android:name=".func.main.InComeActivity" />
        <activity android:name=".func.main.LifeActivity" />
        <activity android:name=".func.record.TimeCostActivity" />
        <activity android:name=".func.main.RecordActivity" />
        <activity android:name=".func.main.TimeActivity" />
        <activity
            android:name=".func.cost.CostAddActivity"
            android:label="@string/title_activity_cost_add"
            android:theme="@style/AppTheme" />
        <activity android:name=".func.main.FriendActivity" />
        <activity android:name=".func.main.ReflectActivity" />
    </application>

</manifest>